# Dependencies
**/node_modules/
**/package-lock.json

# Environment variables (security sensitive)
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
.env

# Build outputs
**/dist/
**/build/
**/.next/
**/out/

# Uploads & Media
**/uploads/

# Logs
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & Editor
.DS_Store
Thumbs.db
**/.vscode/
**/.idea/
*.swp
*.swo
**/.git_backup/
